body{
    background-color: #000;
    color: #fff;
    font-size: 20px;
}
a{
    text-decoration: none;
    color: #fff;
}
header{
    text-align: center;
    background-color: green;
    overflow: hidden;
    position: sticky;
    top: 0;
    margin: 0;
    margin-bottom: 10px;
    width: 100%;
}
footer{
    overflow: hidden;
    position: fixed;
    bottom: 0;
    background-color: green;
    margin: 0;
    text-align: center;
    width: 100%;
}
footer ul{
    list-style-type: none;
    text-align: center;
    overflow: hidden;
}
footer li{
    display: inline;
    float: left;
}
footer a{
    display: block;
    text-align: center;
    padding: 14px 16px;
}
table, td, th{
    text-align: center;
    border: 2px solid white;
    border-collapse: collapse;
    padding: 10px;
}
table{
    margin: auto;
}