body{
    background-color: #000;
    color: #fff;
}
a{
    text-decoration: none;
    color: #fff;
}
header{
    text-align: center;
    background-color: green;
    overflow: hidden;
    position: sticky;
    margin: 0;
}
footer{
    overflow: hidden;
    position: fixed;
    bottom: 0;
    background-color: green;
    margin: 0;
    text-align: center;
}
footer ul{
    list-style-type: none;
    text-align: center;
    overflow: hidden;
}
footer li{
    display: inline;
    float: left;
}
footer a{
    display: block;
    text-align: center;
    padding: 14px 16px;
}